  <h2><%= @question.title %></h2><strong><%= @question.user.username if @question.user.present? %></strong>
  <h3><%= @question.question_text %></h3>
    <% @question.tags.each do |tag| %>
      <li><%= tag.tagname %> </li>
      <% end %>

  <%= render partial: "/answers/answer" %> 

  <%= link_to "Add Answer", '#', :id => "add-answer" %>

<ul id= "answers">
  <% @question.answers.each do |answer| %>
   <li><%= answer.answer_text %></li>
  <% end %>

</ul>

  <%= link_to "Add Answer", new_question_answer_url(@question), :id => "add-answer" %>
>>>>>>> finished micro-challenge
